<% title "Log in" %>
<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>
<legend>Login!</legend>

<%= form_tag sessions_path, :class => 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag :login, 'Email', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :login, params[:login] %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :password, 'Password', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :password, params[:password], :type => 'password' %>
    </div>
  </div>

  <div class="control-group">
    <div class='controls'>
      <p><%= submit_tag "Log in", :class => 'btn btn-primary' %></p>
    </div>
  </div>

<% end %>
