<%= form_for @recipe, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <legend>Create a new recipe</legend>

  <div class="control-group">
    <%= f.label :name, 'Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => 'Grandma''s Apple Pie' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tag_block, 'Tags', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_block, :placeholder => 'pie, dessert, family recipe' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :ingredient_block, 'Ingredients', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :ingredient_block, :placeholder => '1/2 cup flour\n2 eggs\n...' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :step_block, 'Steps', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :step_block, :placeholder => '1/2 cup flour\n2 eggs\n...' %>
    </div>
  </div>

  <div class="control-group">
    <div class='controls'>
      <%= f.submit 'Create', :class => 'btn btn-primary', :id => 'recipe_commit' %>
    </div>
  </div>

<%end%>