<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <%= stylesheet_link_tag "application" %>
  <style type="text/css">

  </style>
</head>


<!--<div class="container">-->
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <span class="logo pull-left"></span>
      <span class="pull-right user-greeting">
      <% if logged_in? %>
        Welcome <%= current_user.greeting %><p>
        <%= link_to 'My Recipes', recipes_path %> | <%= link_to 'Log out', logout_path %>
      </p>
      <% else %>
        <%= link_to 'Sign up', signup_path %> | <%= link_to 'Log in', login_path %>
      <% end %>
      </span>
    </div>
  </div>

  <div class="container well-large" style="margin-top: 80px">
    <%= yield %>
  </div>

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>

</body>
</html>